@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/Screenshot 2024-12-16 173129.png" class="d-block w-100 img-fluid" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="~/img/Screenshot 2024-12-16 173201.png" class="d-block w-100 img-fluid" alt="Slide 2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br />
<br />
<br />
<br />

<section class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Welcome to TARF Playground</h1>
        <p class="lead">Your ultimate destination for fun and learning!</p>
        <a href="/start" class="btn btn-light btn-lg">Get Started</a>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Interactive Games</h5>
                        <p class="card-text">Enjoy a variety of fun and educational games.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Learning Resources</h5>
                        <p class="card-text">Access a wealth of tools and resources for all ages.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Community Support</h5>
                        <p class="card-text">Connect with others to share and grow together.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
